<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cplh.gt.dao.HjInfoDao">


    <select id="queryPro" resultType="com.cplh.gt.bean.ConHjInfo">
        select *
        from (
                 select
                     ROW_NUMBER()
                     OVER (
                         PARTITION by weld_layer, equip_code
                         ORDER BY weld_layer ) rn,
                     *
                 from ${tableName}
                 where ts > to_timestamp(TO_CHAR(current_timestamp - interval '1 minute', 'yyyy-MM-dd HH12:MI:SS'),
                                         'yyyy-MM-dd HH12:MI:SS')
             ) a
        where rn = 1
    </select>

    <select id="clickPro" resultType="com.cplh.gt.bean.ConHjInfo">
        select *
        from ${tableName}
        where weld_layer = #{weldLayer} and equip_code = #{equipCode}
        order by ts desc LIMIT 1
    </select>
</mapper>